@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap'); 





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

:root{
--Orange: hsl(25, 97%, 53%);
--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Blue: hsl(213, 19%, 18%);
--very-Dark-Blue: hsl(216, 12%, 8%);
}

body{
    background-color: rgb(255, 0, 0);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: var(--very-Dark-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

/*Rating state*/

.rating_state{
    background: linear-gradient(to bottom, hsl(212, 19%, 15%),hsl(214, 12%, 11%));
    width: 327px;
    height: 364px;
    border-radius: 16px;
    margin: auto;
    padding: 30px;
    color: var(--Light-Grey);
}

.rating_state h2{
    margin: 15px 0 15px 0;
    color: var(--White);
}

.rating_state img{
    padding: 8px;;
    background-color: beige;
    border-radius: 60px;
    background-color: var(--Dark-Blue);
}
.rating_state p{
    width: 100%;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0;

}

.number{
    padding: 18px 22px 18px 22px;
    border-radius: 80%;
    background-color: var(--Dark-Blue);
    margin: 0 4px 0 4px;
    transition: 0.3s;
    cursor: pointer;
}

.number-clicked{
    background: var(--Orange);
}


.rating_state ul li:hover{

    background-color: var(--Orange);
}



.rating_state ul{
    margin-top: 20px;
}


.rating_state button{
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-color: var(--Orange);
    border-radius: 30px;
    border: none;
    margin: 20px 0 20px 0;
    width: 100%;
    padding: 13px;
    font-weight: 700;
    letter-spacing: 3px;

}

/*thanks*/

.thanks_state{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, hsl(212, 19%, 15%),hsl(214, 12%, 11%));
    width: 327px;
    height: 364px;
    border-radius: 16px;
    margin: auto;
    padding: 30px;
    color: var(--Light-Grey);
    text-align: center;
}

.thanks_state img{
    height: 100px;
    width: 130px;
}

.thanks_state h2{
    color: white;
}

.points{
    color: var(--Orange);
    background-color: var(--Dark-Blue);
    border-radius: 20px;
    padding: 8px;
}

.points-clicked{
    color: var(--Orange);
    background-color: var(--Dark-Blue);
    border-radius: 20px;
    padding: 8px;
}

